/* Importing font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap");

/* Variables */
:root {
  --borderRadius: 10px;
  --spacer: 1rem;
  --primary: #C4151C;
  --text: #fff;
  --linkHeight: calc(var(--spacer) * 3.5);
  --timing: 250ms;
  --transition: var(--timing) ease all;
  --linkWidth: 10rem;
}

/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: url('/static/background/login_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  transition: background-color 0.5s ease;
}

/* Header Styles */
.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: #31426a;
  color: var(--text);
  padding: 0 calc(var(--spacer) * 2);
  box-shadow: 0 0 40px rgba(187, 0, 238, 0);
  height: 6rem;
  display: flex;
  align-items: center;
  gap: 3rem;
  transition: background-color 0.5s ease;
}

.black-rectangle {
  background-color: #ffffff00;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* Navbar Styles */
.navbar {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.navbar__menu {
  position: relative;
  display: flex;
}

.navbar__link {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  align-items: center;
  justify-content: center;
  height: var(--linkHeight);
  width: var(--linkWidth);
  color: var(--text);
  transition: var(--transition);
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: var(--shadow);
}

.navbar__link svg {
  transition: var(--transition);
}

.navbar__link:hover svg {
  stroke: var(--primary);
}

.navbar__link:hover span {
  opacity: 1;
  transform: translate(0);
}

.navbar__item:last-child:before {
  content: '';
  position: absolute;
  left: -8rem;
  margin-left: calc(var(--linkWidth) / 2);
  bottom: -1.25rem;
  height: 0.5rem;
  width: 2px;
  background: var(--primary);
  box-shadow: 0 -0.5rem var(--primary), 0 -0.5rem var(--primary), 0 0 3rem 0.5rem rgba(255, 255, 255, 0.268), 2rem 0 0 rgba(255, 255, 255, 0.2), -3rem 0 0 rgba(255, 255, 255, 0.2), -2rem 0 0 rgba(255, 255, 255, 0.2), -1rem 0 0 rgba(255, 255, 255, 0.2), 1rem 0 0 rgba(255, 255, 255, 0.2), 2rem 0 0 rgba(255, 255, 255, 0.2), 3rem 0 0 rgba(255, 255, 255, 0.2);
  transition: var(--transition);
}

.header__logo {
  margin-right: auto;
  margin-left: auto;
}

.logo {
  width: 90px;
  height: 70px;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.1);
}

/* Container Styles */
.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: var(--shadow);
  transition: box-shadow 0.5s ease;
}

/* Form Group Styles */
.form-group {
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  color: white;
}

/* Input Styles */
input[type="text"],
input[type="number"],
select,
input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 2px solid #ccc;
  border-radius: var(--borderRadius);
  box-sizing: border-box;
  transition: border-color 0.3s;
}

input:focus,
select:focus {
  outline: none;
  border-color: #6c63ff;
}

/* Button Styles */
.btn-primary {
  background-color: #6c63ff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  display: block;
  margin: 20px auto;
  border-radius: var(--borderRadius);
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: var(--shadow);
}

.btn-primary:hover {
  background-color: #5248cc;
}

/* Personal Details Box Styles */
.personal-details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 6rem);
}

.wrapper {
  width: 500px;
  border-radius: 8px;
  padding: 30px;
  margin-top: 400px;
  margin-bottom: 100px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

form {
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #fff;
}

.input-field {
  position: relative;
  border-bottom: 2px solid #ccc;
  margin: 15px 0;
}

.input-field label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: #fff;
  font-size: 16px;
  pointer-events: none;
  transition: 0.15s ease;
}

.input-field input {
  width: 100%;
  height: 40px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: #fff;
}

.input-field input:focus~label,
.input-field input:valid~label {
  font-size: 0.8rem;
  top: 10px;
  transform: translateY(-120%);
}

.forget {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0 35px 0;
  color: #fff;
}

#remember {
  accent-color: #fff;
}

.forget label {
  display: flex;
  align-items: center;
}

.forget label p {
  margin-left: 8px;
}

.wrapper a {
  color: #efefef;
  text-decoration: none;
}

.wrapper a:hover {
  text-decoration: underline;
}

button {
  background: #fff;
  color: #000;
  font-weight: 600;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 16px;
  border: 2px solid transparent;
  transition: 0.3s ease;
}

button:hover {
  color: #fff;
  border-color: #fff;
  background: rgba(255, 255, 255, 0.15);
}

.register {
  text-align: center;
  margin-top: 30px;
  color: #fff;
}
