* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
}

.container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
  color: #666;
  text-align: center;
}

#quiz-result {
  margin-top: 40px;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  margin-top: 20px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.btn:hover {
  background-color: #0062cc;
}

.btn:active {
  background-color: #005cbf;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.carousel {
  width: 100%;
  height: 100vh;
  position: center;
  overflow: hidden;
}

.carousel::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 4%;
  height: 1%;
  animation: carousel-animation slow 50s infinite linear;
}

@keyframes carousel-animation {
  0% {
      transform: translateX(0);
  }
  25% {
      transform: translateX(-25%);
  }
  50% {
      transform: translateX(-50%);
  }
  75% {
      transform: translateX(-75%);
  }
  100% {
      transform: translateX(0);
  }
}

@media (max-width: 600px) {
  .container {
      margin: 20px auto;
      padding: 10px;
  }
  h1 {
      font-size: 24px;
  }
  p {
      font-size: 16px;
  }
}
